@model IEnumerable<Ecomerce.Models.Warehouse>

@{
    ViewBag.Title = "Warehouses";
}

<h2>Warehouses</h2>

<p>
    
    <a class="btn btn-primary" href="/Warehouses/Create">Create New<span class="glyphicon-plus"></span></a>
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <a class="btn btn-warning" href="/Warehouses/Edit/@item.WarehouseId">Edit<span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-info" href="/Warehouses/Details/@item.WarehouseId">Details<span class="glyphicon glyphicon-exclamation-sign"></span></a>
            <a class="btn btn-danger" href="/Warehouses/Delete/@item.WarehouseId">Delete<span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
